# webapp/deploy/aurora.env.template
# Copiar a: /etc/aurora/aurora.env

STUDENT_ID=TIENES_QUE_CAMBIAR_STUDENT_AURORA_ENV_TEMPLATE

# Fichero único JSONL que leerá CloudWatch Agent
AURORA_LOG_PATH=/var/log/aurora/aurora_clickstream.jsonl

# Uvicorn bind
AURORA_HOST=127.0.0.1
AURORA_PORT=8000